<h1>User </h1>

<button class="btn btn-success my-3" onclick="Add(event)">Thêm</button>
<style>
    .navigation-icon {
        cursor: pointer;
    }
</style>
<table id="example" class="table table-striped" style="width:100%">

</table>

<partial name="_modal" />

@section scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
            keyboard: false
        })

        function LoadData() {
            $.get("/User/GetUsers", function (data) {
                $("#example").html(data);
                $('#example').DataTable();
            });
        }

        $(document).ready(function () {
            LoadData();
        });

        function Add(e) {
            $.get("/User/GetModal", function (data) {
                $("#loadModal").html(data);
                $.validator.unobtrusive.parse("#exampleModal");
            });
            myModal.show();

        }
        function Edit(e,name) {
            $.get(`/User/GetModalEdit?name=${name}`, function (data) {
                $("#loadModal").html(data);
                @* $.validator.unobtrusive.parse("#exampleModal"); *@
            });
            myModal.show();
        }

        function Delete(e,email) {
             $.get(`/User/Delete?email=${email}`, function (result) {
                if (result == 'Ok')
                {
                    LoadData();
                }
            });
        }
    </script>
}
